.header {
    height: 110px;
    background: #5695cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logged {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
}

.user_image {
    max-height: 40px;
    max-width: 40px;
    margin-right: 20px;
}

.user_image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.signout_link {
    text-align: center;
    border: solid black 1px;
    border-radius: 10%;
}

.signout_link a {
    text-decoration: none;
    color: black;
}

.signout_link:hover {
    background: #ea8c91;
    color: black;
}

.logging {
    display: flex;
}

.logging a {
    text-decoration: none;
    color: black;
}

.logging div:hover {
    text-decoration: underline;
    background: #65acea;
    color: #6db3f0;
}

.signin_link {
    padding: 5px;
    border-right: solid black 1px;
}

.signup_link {
    padding: 5px;
    border-left: solid black 1px;
}

.home_link {
    text-decoration: none;
    color: black;
}

.home_link:hover {
    text-decoration: underline;
}

.shop {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: 20px;
}

.logo img {
    width: 100%;
    height: 100%
}

.phone_number a {
    text-decoration: none;
    color: black;
}

.phone_number a:hover {
    text-decoration: underline;
}

.navigate {
    height: 90px;
    background: #7fbee8;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.store_card {
    height: 50px;
    width: 100px;
    border: solid black 2px;
    display: flex;
    align-items: center;
    text-align: center;
}

.navigate a {
    text-decoration: none;
    color: black;
}

.navigate a:hover {
    text-decoration: underline;
}

.main {
    background: #aac7da;
    padding-bottom: 500px;
}

.main_product_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.card {
    width: 200px;
    height: 270px;
    border-radius: 10%;
    background: #7097b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 10px 10px 15px #6284a0;
}

.card_link {
    text-decoration: none;
    color: black;
}

.card_img {
    display: flex;
    max-width: 170px;
    max-height: 130px;
}

.card_img img {
    width: 100%;
    height: 100%
}

.add_book_button {
    margin-top: 20px;
    display: flex;
    align-self: flex-end;
}

.add_book_button a {
    background: #7097b7;
    text-decoration: none;
    border-radius: 10%;
    margin: 20px;
    padding: 5px;
    color: black;
}

.add_book_button a:hover {
    background: #8fb9db;
    text-decoration: underline;
    border-radius: 10%;
    margin: 20px;
    padding: 5px;
    color: black;
}
